@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 191.6 100% 100%;
  --foreground: 191.6 5% 10%;
  --card: 191.6 50% 100%;
  --card-foreground: 191.6 5% 15%;
  --popover: 191.6 100% 100%;
  --popover-foreground: 191.6 100% 10%;
  --primary: 191.6 91.4% 36.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191.6 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 153.6 30% 95%;
  --muted-foreground: 191.6 5% 40%;
  --accent: 153.6 30% 90%;
  --accent-foreground: 191.6 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 191.6 5% 100%;
  --border: 191.6 30% 82%;
  --input: 191.6 30% 50%;
  --ring: 191.6 91.4% 36.5%;
  --radius: 0.75rem;
}
.dark {
  --background: 191.6 50% 10%;
  --foreground: 191.6 5% 100%;
  --card: 191.6 50% 10%;
  --card-foreground: 191.6 5% 100%;
  --popover: 191.6 50% 5%;
  --popover-foreground: 191.6 5% 100%;
  --primary: 191.6 91.4% 36.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191.6 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 153.6 30% 25%;
  --muted-foreground: 191.6 5% 65%;
  --accent: 153.6 30% 25%;
  --accent-foreground: 191.6 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 191.6 5% 100%;
  --border: 191.6 30% 50%;
  --input: 191.6 30% 50%;
  --ring: 191.6 91.4% 36.5%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
